<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/font.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav();">&#9754;</a>
    <a href="#">istri 1</a>
    <a href="#">istri 2</a>
    <a href="#">istri 3</a>
    <a href="#">istri 4</a>
</div>
    {%include 'snippets/nav.html'%}
    <div class="content">
      <ul>
        {%for urls,title,datetime,decription in results%}
          <li>
            <a href="{{urls}}" target="_blank"><h3>{{title}}</h3></a>{{decription}} | {{datetime}} | {{urls}}
          </li>
        {%endfor%}
      </ul>
    </div>
</body>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/script.js"></script>
</html>